<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Ateliers Magique</title>
    <link rel="shortcut icon" href="../media/img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style/main.css"><!-- CSS -->
    <script src="../script/main.js" defer></script><!-- JS -->
</head>
<body>
    <header class="rest_header">
        <h1><a href="../index.html">Ateliers Magique</a></h1>
        <h2>Re-Stock</h2>
    </header>
    <main>
        <table>
            <tr>
                <td class="coca" colspan="2" onclick="compteur(coca)"><img src="../media/img/coca.png" height="25px" alt="Logo Coca-Cola"></td>
                <td class="eau" onclick="compteur(eau)"><img src="../media/img/eau.png" height="25px" alt="Logo Eaux"></td>
                <td class="perrier" onclick="compteur(perrier)"><img src="../media/img/perrier.jpg" height="25px" alt="Logo Perrier"></td>
                <td class="orange" onclick="compteur(orange)"><img src="../media/img/orange.png" height="25px" alt="Logo Jus d'Orange"></td>
                <td class="abricot" onclick="compteur(abricot)"><img src="../media/img/abricot.png" height="25px" alt="Logo Jus d'Abricot"></td>
                <td class="fraise" onclick="compteur(fraise)"><img src="../media/img/fraise.png" height="25px" alt="Logo Jus de Fraise"></td>
            </tr>
            <tr>
                <td colspan="2" id="coca">00</td>
                <td id="eau">00</td>
                <td id="perrier">00</td>
                <td id="orange">00</td>
                <td id="abricot">00</td>
                <td id="fraise">00</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="sprite" onclick="compteur(sprite)"><img src="../media/img/sprite.png" height="25px" alt="Logo Sprite"></td>
                <td class="orangina" onclick="compteur(orangina)"><img src="../media/img/orangina.png" height="25px" alt="Logo Orangina"></td>
                <td class="lipton" onclick="compteur(lipton)"><img src="../media/img/lipton.png" height="25px" alt="Logo Lipton"></td>
                <td class="cocazero" onclick="compteur(cocazero)"><img src="../media/img/cocazero.png" height="25px" alt="Logo Coca-Zero"></td>
                <td class="tomate" onclick="compteur(tomate)"><img src="../media/img/tomate.png" height="25px" alt="Logo Jus de Tomate"></td>
                <td class="pomme" onclick="compteur(pomme)"><img src="../media/img/pomme.png" height="25px" alt="Logo Jus de Pomme"></td>
                <td class="annanas" onclick="compteur(annanas)"><img src="../media/img/annanas.png" height="25px" alt="Logo Jus d'Annanas"></td>
            </tr>
            <tr>
                <td id="sprite">00</td>
                <td id="orangina">00</td>
                <td id="lipton">00</td>
                <td id="cocazero">00</td>
                <td id="tomate">00</td>
                <td id="pomme">00</td>
                <td id="annanas">00</td>
            </tr>
        </table>

        <img src="../media/img/trash.png" alt="Logo Poubelle" onclick="reset()" class="trash" id="trash">
    </main>
</body>
</html>